main {

  .btn,
  a.btn {
    font-family: var(--font-primary);
    padding: 0.6em 1em;
    border-style: none;
    font-size: 1rem;
    border-radius: 3px;
    white-space: nowrap;
    text-decoration: none;
  }

  a.btn {
    line-height: 3;
  }

  .btn_primary,
  a.btn_primary {
    font-weight: 750;
    background-color: var(--color-blue-dark);
    color: var(--color-white);
    border-top: solid 2px var(--color-blue-dark);
    border-bottom: solid 2px var(--color-blue-dark-b);

    &:hover,
    &:focus {
      background-color: var(--color-blue-dark-b);
      cursor: pointer;
    }
  }

  .btn_secondary,
  a.btn_secondary {
    background-color: var(--color-white);
    border-width: 2px;
    color: var(--color-blue-dark);
    border-color: var(--color-blue-dark);
    border-style: solid;
    font-weight: 650;

    &:hover,
    &:focus {
      background-color: var(--color-blue-dark);
      border-bottom-color: var(--color-blue-dark-b);
      color: var(--color-white);
      cursor: pointer;
    }
  }

  .btn:disabled,
  a.btn:disabled {
    cursor: default;
      background-color: var(--color-gray-300);
  }

}

