main {

  .btn,
  a.btn {
    font-family: var(--font-primary);
    padding: 0.6em 1em;
    border-style: none;
    border-radius: 3px;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0.2em;
    
    font-size: 0.8rem;
    @include bp(mid) {
      font-size: 1rem;
    }

    .icon {
      width: 1.2em;
      height: 1.2em;
      vertical-align: sub;
    }
  }


  .btn_primary,
  a.btn_primary {
    font-weight: 750;
    background-color: var(--color-blue-dark);
    color: var(--color-white);
    border-top: solid 2px var(--color-blue-dark);
    border-bottom: solid 2px var(--color-blue-dark-b);

    &:hover,
    &:focus {
      background-color: var(--color-blue-dark-b);
      cursor: pointer;
    }
  }

  .btn_secondary,
  a.btn_secondary {
    background-color: var(--color-white);
    border-width: 2px;
    color: var(--color-blue-dark);
    border-color: var(--color-blue-dark);
    border-style: solid;
    font-weight: 650;

    &:hover,
    &:focus {
      background-color: var(--color-blue-dark);
      border-bottom-color: var(--color-blue-dark-b);
      color: var(--color-white);
      cursor: pointer;
    }
  }

  .btn_warning,
  a.btn_warning {
    font-weight: 750;
    background-color: var(--color-red-dark);
    color: var(--color-white);
    border-top: solid 2px var(--color-red-dark);
    border-bottom: solid 2px var(--color-red-dark-b);

    &:hover,
    &:focus {
      background-color: var(--color-red-dark-b);
      cursor: pointer;
    }
  }

  .btn:disabled,
  a.btn:disabled {
    cursor: default;
      background-color: var(--color-gray-300);
      border-top-color: var(--color-gray-300);
      border-bottom-color: var(--color-gray-100);
  }

  legend {
    .btn {
      padding: 0.3em 1em;
    }
  }

//   a.btn_print {
//     display: inline-block;
//     background: url(/images/sprites.svg#instagram) no-repeat;
//     background-position: 0 0;
//     background-size: 2em 2em;
//   }


}




