<form name={{name}} class="contact_us" method="POST" action={{action}} netlify>
  <label for="email">Email Address</label><input id="email" type="email" name="email" required></input>
  <label for="body">Message</label><textarea id="body" class="large" name="message" required></textarea>
  <button type="submit" class="btn btn_primary">Send</button>
</form>