<div class="donate_wrapper">
	<p>Here is an example button that opens a new donation page and allows Apple Pay on mobile.</p>
  <a href="https://givebutter.com/united-effort" class="donate_button btn btn_primary" rel="noopener" target="_blank">Donate</a>
</div>
<div class="donate_wrapper">
	<p>Here is an example button that pops up a donation box but does <b>not</b> allow Apple Pay on mobile.</p>
  <button class="donate_button btn btn_primary" data-gb-account="9yZD2j8yFG8jsP4t" data-gb-campaign="22LTIB">Donate</button>
</div>