{% incomeDetails desc %}
  {% dynamicFieldList "Add another entry" %}
    <h4>{{heading}} 1</h4>
    <div>
      <label for="income-{{id}}">Income</label>
      $ <input id="income-{{id}}" type="number" class="long"> per month
    </div>
  {% enddynamicFieldList %}
{% endincomeDetails %}
