{% incomeDetails desc %}
  <fieldset>
    <legend>Myself</legend>
  {% capture template %}
    <h4>{{heading}} 1</h4>
    <div>
      <label for="income-{{id}}">Income</label>
      $ <input id="income-{{id}}" type="number" class="long"> per month
    </div>
    {{extraContent}}
  {% endcapture %}
  {% dynamicFieldList "Add another entry", template %}
  {% enddynamicFieldList %}
  </fieldset>
{% endincomeDetails %}
