
@font-face {
  font-family: InterVar;
  src: url(/fonts/Inter-Variable-subset.woff2) format("woff2"), url(/fonts/Inter-Variable-subset.woff) format("woff");
  unicode-range: U+20-7E;
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
