<ul class="navigation">
  <li><a href="javascript:window.print()" class="nav_print">Print this page</a></li>
  <li><a href="/">Home</a></li>
  <li><a href="/housing">Housing</a></li>
  <li><a href="/public-assistance">Public Assistance Programs</a></li>
  <li><a href="/resources">Resources</a></li>
  <li><a href="/about">About Us</a></li>
</ul>

<div class="contact">
  <address>
    <p>
      <a href="mailto:help@theunitedeffort.org">help@theunitedeffort.org</a>
    </p>
    <p>
      <a href="tel:6509969607">650 996 9607</a>
    </p>
    The United Effort Organization, Inc.<br/>
    340 E Middlefield Road<br/>
    Mountain View, CA 94043<br/>
  </address>

  <ul class="social">
    <li>
      <a href="https://instagram.com/theunitedeffort" class="icon" aria-label="Follow us on Instagram">							
        <svg role="img" aria-hidden="true" focusable="false" class="icon">
          <use xlink:href="/images/sprites.svg#instagram"></use>
        </svg>
      </a>  
    </li>
    <li>
      <a href="https://facebook.com/theunitedeffort" class="icon" aria-label="Follow us on Facebook">							
        <svg role="img" aria-hidden="true" focusable="false" class="icon">
          <use xlink:href="/images/sprites.svg#facebook"></use>
        </svg>
      </a>  
    </li>
    <li>
      <a href="/feeds" class="icon" aria-label="Subscribe to our content feeds">							
        <svg role="img" aria-hidden="true" focusable="false" class="icon">
          <use xlink:href="/images/sprites.svg#rss"></use>
        </svg>
      </a>  
    </li>
  </ul>

</div>
