footer {
  background-color: var(--color-purple);
  color: var(--color-purple-lightest);
  font-size: 0.9rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  .container {
    @include bp(narrow) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  ul {
    margin: 0 6em 3em 0;
    padding: 0;
  }
  li {
    list-style: none;
    line-height: 1.8;
  }
  a:link,
  a:visited {
    color: var(--color-purple-lighter);
    text-decoration-color: var(--color-purple-light);
  }
  a:hover,
  a:focus {
    color: var(--color-white);
    text-decoration: none;
  }
  .icon {
    width: 2em;
    height: 2em;
  }
  .social {
    margin: 2em 0;
    li {
      display: inline;
      margin: 0.4em;
    }
    a {
      text-decoration: none;
    }
  }
  address {
    color: var(--color-white);
  }
  h1,
  h2,
  h3 {
    color: var(--color-white);
  }
}

.pre-footer {
  background-color: var(--color-purple-lightest);
  padding-bottom: 4em;
  .container {
    h2,
    div,
    p,
    a {
      max-width: 600px;
      margin-left: 0;
      margin-right: auto;
    }
  }
}
