    form {
      margin-top: 2em;
      @include bp(mid) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }
      fieldset {
        @include bp(mid) {
          width: 48%;
        }
        border-width: 0;
        margin-bottom: 1.5em;
        legend {
          color: var(--color-gray-200);
          font-family: var(--font-primary);
          font-weight: 850;
          line-height: 1.2;
          margin: 2em 0 0.5em 0;
          padding-bottom: 0.2em;
          font-size: 1.1em;
          width: 100%;
          border-bottom: solid 1px var(--color-gray-700);
        }
      }
      label {
        font-size: 0.8em;
        white-space: nowrap;
      }
      input[type=text],
      input[type=number],
      input[type=email],
      input[type=tel],
      input[type=url],
      select,
      textarea {
        border: solid 2px var(--color-gray-600);
        font-size: 0.8em;
        font-family: var(--font-primary);
        padding: 0.2em;
        border-radius: 3px;
        margin-bottom: 0.2em;
      }

      input[type=number].short {
        width: 4em
      }

      input[type=number].long {
        width: 6em
      }

      input[type=number].extra_long {
        width: 7em
      }

      input[type=email] {
        width: 25em;
      }

      input[type=tel] {
        width: 9em;
      }

      input[type=url] {
        width: 35em;
      }

      textarea.large {
        width: 25em;
        height: 10em;
      }
    }

    form#eligibility {
      display: block;
      margin-top: 1em;

      h2, h3 {
        margin-top: 0;
      }

      .elig_page div {
        margin: 1em 0;
      }

      ul.multiselect {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-top: 0.5em;
          margin-left: 1em;
        }
      }

      label {
        font-size: 0.9em;
        font-weight: 700;
      }

      label.disabled {
        color: var(--color-gray-500);
      }
    }

    .step_indicator {
      padding-top: 1em;
      margin-top: 1em;
      
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        @include bp(narrow) {
          flex-direction: row;
          margin-top: 2em;
        }
      }

      li {
        flex-basis: 100%;
        padding: 0;
        margin: 0;
        line-height: 100%;
      }

      button {
        font-family: var(--font-primary);
        font-size: 0.9em;
        text-align: left;
        width: 100%;
        padding: 0.1em 0.3em 1em 0.5em;
        margin: 0.1em 0 0.1em var(--vert-indicator-left-margin);
        border-style: solid;
        border-width: 0 0 0 var(--bar-left-width);
        border-radius: 0;
        background-color: transparent;
        color: var(--color-black);
        cursor: pointer;
        position: relative;

        &:enabled:hover {
          border-width: 0 0 0 calc(var(--bar-left-width) + var(--bar-left-width-hover-delta));
          margin-left: calc(var(--vert-indicator-left-margin) - var(--bar-left-width-hover-delta));
        }

        &:disabled {
          cursor: default;
        }

        @include bp(narrow) {
          border-width: var(--bar-top-width) 0 0 0;
          padding: 0.8em 0.3em 0.3em 0.3em;
          margin: 0;
          
          &:enabled:hover {
            border-width: calc(var(--bar-top-width) + var(--bar-top-width-hover-delta)) 0 0 0;
            margin-left: 0;
            margin-top: calc(-1 * var(--bar-top-width-hover-delta));
          }
        }

      }

      button::before {
        counter-increment: step-indicator; 
        content: counter(step-indicator) ". "; 
        position: absolute;
        font-weight: 800;
        border-radius: 99em;
        border: solid 0.15em var(--color-white);
        width: 2em;
        height: 2em;
        color: var(--color-white);
        text-align: center;
        content: counter(step-indicator);
        top: -0.2em;
        left: -2.8em;
        display: flex;
        align-items: center;
        justify-content: center;

        @include bp(narrow) {
          top: -1.2em;
          left: -0.55em;
        }
      }

      button.done {
        border-color: var(--color-blue-dark);
        color: var(--color-blue-dark);

        &:before {
          background-color: var(--color-blue-dark);
        }
      }

      button.todo {
        border-color: var(--color-gray-700);
        color: var(--color-gray-500);

        &:before {
          background-color: var(--color-gray-700);
        }
      }

      button.in_progress {
        border-color: var(--color-blue);
        color: var(--color-blue);
        font-weight: 700;

        &:before {
          background-color: var(--color-blue);
        }
      }
    }
    
    .option_columns {
      columns: 8em 3;
    }

    #not-found-contact-us {
      display: block;
      input,
      textarea {
        display: block;
        margin-bottom: 1em;
      }
    }

    #housing-changes {
      display: block; 
      font-size: 1em;

      input,
      select,
      textarea {
        display: block;
        font-size: 1em;
        padding: 0.5em;
        margin-bottom: 1em;
      }
      
      input[type=checkbox] {
        display: inline-block;
      }

      input[type=text],
      select,
      textarea {
        width: 20em;
      }

      input[type=text].short,
      select.short,
      textarea.short {
        width: 10em;
      }

      input[type=text].long,
      select.long,
      textarea.long {
        width: 25em;
      }

      input[type=text].extra_long,
      select.extra_long,
      textarea.extra_long {
        width: 35em;
      }

      input[type=number] {
        width: 5em;
      }


      input.inline {
        display: inline-block;
      }

      input.form_conditional {
        margin-top: 0.3em;
        margin-bottom: 0;
      }

      .multiselect > input[type=checkbox] {
        margin-bottom: 0em;
        margin-left: 1em;
      }

      .multiselect > label {
        padding: 0.2em 0.4em;
        border-radius: 1em;
      }

      .multiselect {
        margin-bottom: 0.8em;
      }

      table input {
        margin-bottom: 0;
      }

      fieldset {
        width: 100%;
        margin-bottom: 0;
      }

      label {
        font-size: 0.9em;
        white-space: normal;
      }

      #user-notes {
        height: 6em;
      }
    }

    .form_hint {
      color: var(--color-gray-600);
      padding-left: 1em;
    }
    
    .label {
      font-size: 0.9em;
    }

    .fieldset_box {
      border: 3px solid var(--color-gray-600);
      border-radius: 6px;
      padding: 1em;
      margin: 1em 0;
    }

    .option_columns.wide {
      columns: 11em 3;
    }

    
    @media print {
      form {
        font-size: 0.6em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }
      fieldset {
        width: 48%;
      }
    }

    .form_controls {
      width:100%;
      padding: 2em 0;
      margin-bottom: 2em;
      border-top: solid 1px var(--color-gray-700);
      border-bottom: solid 1px var(--color-gray-700);
      
    }
