    form {
      margin-top: 2em;
      @include bp(mid) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }
      @include bp(wide) {
        font-size: 0.8em;
      }
      fieldset {
        @include bp(mid) {
          width: 48%;
        }
        border-width: 0;
        margin-bottom: 1.5em;
        legend {
          color: var(--color-gray-200);
          font-family: var(--font-primary);
          font-weight: 850;
          line-height: 1.2;
          margin: 2em 0 0.5em 0;
          padding-bottom: 0.2em;
          font-size: 1.1em;
          width: 100%;
          border-bottom: solid 1px var(--color-gray-700);
        }
      }
      label {
        font-size: 0.8em;
        white-space: nowrap;
      }
      input[type=text],
      input[type=number],
      input[type=email],
      input[type=tel],
      input[type=url],
      select,
      textarea {
        border: solid 2px var(--color-gray-600);
        font-size: 0.8em;
        font-family: var(--font-primary);
        padding: 0.2em;
        border-radius: 3px;
        margin-bottom: 0.2em;
      }
    }
    
    .option_columns {
      columns: 8em 3;
    }

    #housing-changes {
      display: block; 
      font-size: 1em;

      input,
      select,
      textarea {
        font-size: 1em;
        padding: 0.5em;
        margin-bottom: 1em;
      }
      
      input[type=text],
      select,
      textarea {
        width: 20em;
      }

      input[type=text].short,
      select.short,
      textarea.short {
        width: 10em;
      }

      input[type=text].long,
      select.long,
      textarea.long {
        width: 25em;
      }

      input[type=text].extra_long,
      select.extra_long,
      textarea.extra_long {
        width: 35em;
      }

      input[type=number] {
        width: 5em;
      }

      input[type=number].short {
        width: 4em
      }

      input[type=number].long {
        width: 6em
      }

      input[type=number].extra_long {
        width: 7em
      }

      input[type=email] {
        width: 25em;
      }

      input[type=tel] {
        width: 9em;
      }

      input[type=url] {
        width: 35em;
      }

      input.form_conditional {
        margin-top: 0.3em;
        margin-bottom: 0;
      }

      .multiselect > input[type=checkbox] {
        margin-bottom: 0em;
        margin-left: 1em;
      }

      .multiselect > label {
        padding: 0.2em 0.4em;
        border-radius: 1em;
      }

      .multiselect {
        margin-bottom: 0.8em;
      }

      table input {
        margin-bottom: 0;
      }

      fieldset {
        width: 100%;
        margin-bottom: 0;
      }

      label {
        font-size: 0.9em;
        white-space: normal;
      }

      #user-notes {
        height: 6em;
      }
    }

    .form_hint {
      color: var(--color-gray-600);
      padding-left: 1em;
    }
    
    .label {
      font-size: 0.9em;
    }

    .fieldset_box {
      border: 3px solid var(--color-gray-600);
      border-radius: 6px;
      padding: 1em;
      margin: 1em 0;
    }

    .option_columns.wide {
      columns: 11em 3;
    }

    
    @media print {
      form {
        font-size: 0.6em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
      }
      fieldset {
        width: 48%;
      }
    }

    .form_controls {
      width:100%;
      padding: 2em 0;
      margin-bottom: 2em;
      border-top: solid 1px var(--color-gray-700);
      border-bottom: solid 1px var(--color-gray-700);
      
    }
