*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--color-yellow);
  color: black;
}

body {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--color-gray-200);
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  @include bp(narrow) {
    font-size: 16px;
  }
  @include bp(mid) {
    font-size: 18px;
  }
  @include bp(wide) {
    font-size: 20px;
  }
  @include bp(ultra) {
    font-size: 22px;
  }
}

body.smaller {
  font-size: 12px;
  @include bp(narrow) {
    font-size: 12px;
  }
  @include bp(mid) {
    font-size: 14px;
  }
  @include bp(wide) {
    font-size: 16px;
  }
}

body.page_housing_table {
  display: block;
}

a {
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

header,
footer,
main,
.pre-footer {
  padding-top: 1rem;
}

main {
  padding-top: 2em;
  padding-bottom: 4em;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  * {
    flex-basis: none;
  }
  @include bp(mid) {
    width: 90%;
  }
  @include bp(wide) {
    width: 90%;
  }
  @include bp(ultra) {
    width: 1200px;
  }
}

body.max_width {
  .container {
    width: 95%;
  }
}

.page_break_after {
  page-break-after: always;
}

.only_print {
  display: none !important;
}

@media print {
  main {
    padding: 0;
    a[href*="//"]::after {
      content: " (" attr(href) ") ";
    }
  }
  .noprint {
    display: none !important;
  }
  .only_print {
    display: revert !important;
  }
  .container {
    width: 100%;
  }
}

/* https://css-tricks.com/hash-tag-links-padding/ */
.anchor_context::before {
  display: block; 
  content: " "; 
  margin-top: -15em; 
  height: 15em; 
  visibility: hidden; 
  pointer-events: none;
}

.split {
  width: 50%;
}

.align-end {
  text-align: right;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.align_end {
  align-items: flex-end;
}

.stack-reversed {
  flex-wrap: wrap-reverse;
}

.hidden {
  display:none;
}

.float_right {
  float: right;
}

.justify_right {
  justify-content: right;
}

.nowrap {
  white-space: nowrap;
}

.sticky {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.split_right_container {
  margin-left: 1em;
}

.split_left_container {
  margin-right: 1em;
}

.inline_block {
  display: inline-block;
}

.collapse_top {
  margin-top: 0;
  padding-top: 0;
}

iframe {
  width: 100%;
  height: 100vh;
  border: solid 2px var(--color-gray-600);
}

#map {
  height: 400px;
  width: 100%;
}
