*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--color-yellow);
  color: black;
}

body {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--color-gray-200);
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  @include bp(narrow) {
    font-size: 16px;
  }
  @include bp(mid) {
    font-size: 18px;
  }
  @include bp(wide) {
    font-size: 20px;
  }
  @include bp(ultra) {
    font-size: 22px;
  }
}

a {
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

header,
footer,
main,
.pre-footer {
  padding-top: 1em 0;
  /* The below padding gets erroneously applied to the header on wide screens. */
  @include bp(narrow) {
    padding: 2rem;
  }
}

main {
  padding-top: 0;
  padding-bottom: 4em;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  * {
    flex-basis: none;
  }
  @include bp(mid) {
    width: 90%;
  }
  @include bp(wide) {
    width: 90%;
  }
  @include bp(ultra) {
    width: 1200px;
  }
}

@media print {
  main {
    a[href*="//"]::after {
      content: " (" attr(href) ") ";
    }
  }
  .btn {
    display: none;
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: var(--color-blue-dark);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
  text-decoration-color: var(--color-blue);
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 10em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.3em 0.3em;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}