*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--color-yellow);
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  counter-reset: step-indicator;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--color-gray-200);
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 0.9375em;
  line-height: 1.5;
  text-align: center;
  page: header;
  @include bp(narrow) {
    font-size: 1em;
  }
  @include bp(mid) {
    font-size: 1.125em;
  }
  @include bp(wide) {
    font-size: 1.25em;
  }
  @include bp(ultra) {
    font-size: 1.375em;
  }
}

body.smaller {
  font-size: 1em;
  @include bp(narrow) {
    font-size: 1em;
  }
  @include bp(mid) {
    font-size: 1em;
  }
  @include bp(wide) {
    font-size: 1.125em;
  }
}

body.page_printable_table {
  display: block;
  page: unset;
}

a {
  color: currentColor;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

footer,
.pre-footer {
  padding-top: 1rem;
}

main {
  padding-top: 2em;
  padding-bottom: 4em;
}

.right-sidebar  {
  padding-top: 0;
  height: min-content;
  width: 100%;
  a {
    text-decoration: none;
  }
  nav li {
    margin-bottom: 0.8em;
    padding-left: 0.3em;
    border-width: 0 0 0 3px;
    border-style: solid;
    border-color: transparent;
  }
  nav li.active-section {
    @include bp(mid) {
      border-color: var(--color-orange);
    }
  }
  nav.toc {
    ol {
      margin: 0;
      padding: 0;
    }
  }
  @include bp(mid) {
    position: sticky;
    top: 0;
    width: 15em;
    margin-top: -8em;
    padding-left: 2.7em;
  }
}


.left-sidebar {
  padding-top: 2em;
  padding-right: 3em;
  display: none;
  @include bp(narrow) {
    display: grid;
  }
  // position: sticky;
  // top:0;
  // height: 100vh;
  // overflow: scroll;
  a {
    text-decoration: none;
  }
  // a:has(+details) {
  //   position: absolute;
  //   margin-left: 0.8125em;
  //   padding-right: 1em;

  //   &:hover {
  //     background-color: aquamarine;
  //   }
  // }
  a.active-page {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
    text-decoration-color: var(--color-orange);
  }
  nav li summary {
    user-select: none;
    cursor: pointer;

    &::marker {
      color: var(--color-gray-200);
    }

    // &:hover {
    //   background-color: aquamarine;
    // }
  }
  nav li {
    padding-top: 0.8em;
    position: relative;
  }
  nav li:first-child {
    padding-top: 0;
  }
  nav ul {
    list-style: none;
    padding-left: 0em;
    font-weight: 700;
    li ul {
      li:first-child {
        padding-top: 0.8em;
      }
      padding-left: 1em;
      padding-bottom: 1.5em;
      font-weight: 400;
    }
    li ul li ul {
      li:first-child {
        padding-top: 0.8em;
      }
      padding-left: 1em;
      padding-bottom: 0;
      font-weight: 400;
    }
    li ul li ul li ul {
      li:first-child {
        padding-top: 0.8em;
      }
      padding-left: 1em;
      padding-bottom: 0;
      font-weight: 400;
    }
  }
}

figcaption,
.caption {
  font-style: italic;
  font-size: 0.8em;
}

article figure {
  text-align: center;
  margin: 1em auto;
  width: 100%;
  max-width: 800px;

  img {
    display: inline;
    border: 1px solid var(--color-gray-300);
    padding: 0.3em;
  }
  p {
    margin: 0;
  }
}

nav.toc ol,
ul.child-pages,
ul.child-pages ul,
ul.child-pages ul ul {
  margin: 0 0 0 0.5em;
  list-style-type: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  * {
    flex-basis: none;
  }
  @include bp(mid) {
    width: 90%;
  }
  @include bp(wide) {
    width: 90%;
  }
  @include bp(ultra) {
    width: 1200px;
  }
}

$docs-font-scale: 0.8;
.docs-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 95%;
  margin: 0 auto;
  text-align: left;
  font-size: calc($docs-font-scale * 1em);
  @include bp(narrow) {
    grid-template-columns: 1.4fr 5.1fr;
  }
  @include bp(ultra) {
    width: 1368px;
  }
}

.docs-container .content-body {
  flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 1;
  word-break: break-word;
}

.docs-container .content-wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
}

.story_content {
  max-width: 800px;
}

.story_audio {
  margin: 2em 0;
}

body.max_width {
  .container {
    width: 95%;
  }
}

.page_break_after {
  page-break-after: always;
}

.corner_banner {
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: 16px;
  position: fixed;
  top: 117px;
  left: -10px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
  width: 220px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.only_print {
  display: none !important;
}

@media print {
  main {
    padding: 0;
    a[href*="//"]::after {
      content: " (" attr(href) ") ";
    }
  }
  .noprint {
    display: none !important;
  }
  .only_print {
    display: revert !important;
  }
  .container {
    width: 100%;
  }
}

/* https://css-tricks.com/hash-tag-links-padding/ */
.anchor_context::before {
  display: block; 
  content: " "; 
  margin-top: -15em; 
  height: 15em; 
  visibility: hidden; 
  pointer-events: none;
}

.split {
  width: 50%;
}

.responsive_split {
  width: 100%;
  @include bp(mid) {
    width: 50%;
  }
}

.align-right {
  text-align: right;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.align_end {
  align-items: flex-end;
}

.stack-reversed {
  flex-wrap: wrap-reverse;
}

.grow_1 {
  flex-grow: 1;
}

.hidden {
  display:none !important;
}

.float_right {
  float: right;
}

.justify_right {
  justify-content: right;
}

.nowrap {
  white-space: nowrap;
}

.sticky {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.split_right_container {
  margin-left: 1em;
}

.split_left_container {
  margin-right: 1em;
}

.inline_block {
  display: inline-block;
}

.collapse_top {
  margin-top: 0;
  padding-top: 0;
}

ul.no_bullets {
  list-style-type: none;
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.event-item {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0 1em 0 0;
}

.event-date {
  text-align: center;
  min-width: 3.18em;
  padding: .33em;
  background-color: var(--color-gray-900);
  border-radius: 3px;
  line-height: 1.2;
}

.event-date .month {
  display: block;
  font-size: 0.8em;
  font-weight: 700;
  color: var(--color-gray-500);
}

.event-date .day {
  display: block;
  font-size: 1.3em;
  font-weight: 700;
}

.event-info {
  flex: 1;
}

.event-title {
  font-weight: 600;
}

.event-details {
  font-size: 0.9em;
}

$ruler-thickness: 4px;
$ruler-color: var(--color-orange);
$ruler-arrow-width: 20px;
$ruler-arrow-height: 15px;
.ruler {
  background-color: $ruler-color;
  height: $ruler-thickness;
  margin-top: 1em;
  margin-bottom: 1em;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  border-left: $ruler-arrow-width solid var(--color-white);
  border-right: $ruler-arrow-width solid var(--color-white);
}

.ruler:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: calc(-#{$ruler-arrow-height} / 2 + #{$ruler-thickness} / 2);
  left: -$ruler-arrow-width;
  border-top: calc(#{$ruler-arrow-height} / 2) solid transparent;
  border-right: $ruler-arrow-width solid $ruler-color;
  border-bottom: calc(#{$ruler-arrow-height} / 2) solid transparent;
}

.ruler:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: calc(-#{$ruler-arrow-height} / 2 + #{$ruler-thickness} / 2);
  right: -$ruler-arrow-width;
  border-top: calc(#{$ruler-arrow-height} / 2) solid transparent;
  border-left: $ruler-arrow-width solid $ruler-color;
  border-bottom: calc(#{$ruler-arrow-height} / 2) solid transparent;
}

// https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
.visually_hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  .donate_wrapper {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.ruler div {
  position: absolute;
  top: .5em;
  width: 100%;
  text-align: center;
  color: $ruler-color;
  font-style: italic;
}

$scrollbar-thumb-color: var(--color-gray-600);
$scrollbar-track-color: var(--color-gray-800);
.visible-scrollbars::-webkit-scrollbar {
  width: 12px;
}
.visible-scrollbars::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
}
.visible-scrollbars::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
  border-left: 1px solid $scrollbar-thumb-color;
}

iframe.url_preview {
  width: 100%;
  height: 100vh;
  border: solid 2px var(--color-gray-600);
}

$default-margin: 0.4in;
$logo-height: 30px;
@page header {
  margin-top: calc($default-margin + $logo-height + 0.2in);
  @top-left{
    content: url("/images/ueo-logo.svg");
    margin-top: $default-margin;
  }
}

@page header:first {
  margin-top: $default-margin;
  @top-left {
    content: "";
    margin-top: 0;
  }
}

@media print {
  .responsive_split {
    width: 100%;
  }
}

.process-table {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  width: 100%;
  border-style: solid;
  border-color: var(--color-gray-200);
  border-width: 1px 1px 0 1px;
  margin: 0 auto 0 auto;
}

.process-header-steps {
  grid-column: 1/3;
  background-color: #d9ead3;
  padding: 0.5em;
  font-size: 1.1em;
  border-bottom: solid 1px var(--color-gray-200);
}

.process-header-who {
  grid-column: 3;
  background-color: #d9ead3;
  padding: 0.5em;
  font-size: 1.1em;
  border-bottom: solid 1px var(--color-gray-200);
  word-break: normal;
}

.process-step-number {
  grid-column: 1;
  font-size: 1.5em;
  text-align: center;
  padding: 0.5em;
  border-bottom: solid 1px var(--color-gray-200);
  word-break: normal;
}

.process-step-wrapper {
  grid-column: 2;
  border-bottom: solid 1px var(--color-gray-200);
}

.process-step-who {
  grid-column: 3;
  text-align: center;
  padding: 0.5em;
  border-bottom: solid 1px var(--color-gray-200);
  word-break: normal;
}

.process-step-content {
  padding: 0 1em;
}

.process-step-next {
  padding: 1em;
  margin: 0;
  p {
    margin: 0;
  }
}

.docs-container svg#mermaid-svg {
  display: block;
  margin: 0 auto 0 auto;
  max-width: 100%;
  height: auto;
}

.process-table>div:nth-child(6n+3),
.process-table>div:nth-child(6n+5) {
  background-color: #ffe599;
}

.process-table>div:nth-child(6n+4) {
  background-color: #fff2cc;
  .process-step-next {
    border-left: solid 5em #ffe599;
  }
}

.process-table>div:nth-child(6n+6),
.process-table>div:nth-child(6n+8) {
  background-color: #f9cb9c;
}

.process-table>div:nth-child(6n+7) {
  background-color: #fce5cd;
  .process-step-next {
    border-left: solid 5em #f9cb9c;
  }
}

.docs-container #mermaid-svg {
  foreignObject {
    overflow: visible;
  }

  a:link,
  a:visited {
    color: var(--color-blue);
  }
}

.docs-container #mermaid-svg .node {
  rect, circle, ellipse, polygon, path {
    fill: var(--color-blue-dark) !important;
    stroke: var(--color-blue-dark) !important;
  }
}

.docs-container #mermaid-svg .node p {
  color: var(--color-white) !important;
}

.docs-container #mermaid-svg .label {
  font-size: 0.93em !important;
  font-family: var(--font-primary) !important;
}

.docs-container #mermaid-svg .flowchart-link {
  stroke-width: 3px !important;
}

.docs-container #mermaid-svg .edgeLabel p {
  background-color: var(--color-white) !important;
  color: var(--color-gray-200) !important;
}

.docs-container #mermaid-svg .cluster {
  rect {
    fill: var(--color-gold-light) !important;
    stroke: var(--color-gold) !important;
  }
}

.breadcrumbs {
  padding: 0 0.5em;
  font-size: 0.8em;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 100%;
}

.breadcrumbs li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25em;
  content: ">";
}

.article-header {
  display: flex;
  justify-content: space-between;
}

.article-title {
  @include bp(mid) {
    margin-right: 15em;
  }
}

.glossary dd:not(.synonyms) {
  padding: 1em 0 3em 1em;
}

pagefind-modal-trigger {
  // Base font size gets all messed up for pagefind children, so reset it here.
  font-size: calc(16px * $docs-font-scale) !important;
  width: 100% !important;
}

button.pf-trigger-btn {
  font-family: var(--pf-font) !important;
  font-size: 0.9375em !important;
  transition: none !important;
  @include bp(narrow) {
    font-size: 1em !important;
  }
  @include bp(mid) {
    font-size: 1.125em !important;
  }
  @include bp(wide) {
    font-size: 1.25em !important;
  }
  @include bp(ultra) {
    font-size: 1.375em !important;
  }
}

dialog.pf-modal {
  border-radius: 3px !important;
}

li.pf-heading-chip {
  border-radius: 3px !important;
  transition: none !important;
}

.pf-result-card {
  transition: none !important;
}

.search-wrapper {
  width: 12.3em;
}

// .root-margin {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   border: 1px solid red;
//   margin-top: 10vh;
//   margin-bottom: 60vh;
//   height: 30vh;
// }

// .docs-container h2 {
//   border: 1px solid blue;
// }