*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--color-yellow);
  color: black;
}

body {
  counter-reset: step-indicator;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--color-gray-200);
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 0.9375em;
  line-height: 1.5;
  text-align: center;
  page: header;
  @include bp(narrow) {
    font-size: 1em;
  }
  @include bp(mid) {
    font-size: 1.125em;
  }
  @include bp(wide) {
    font-size: 1.25em;
  }
  @include bp(ultra) {
    font-size: 1.375em;
  }
}

body.smaller {
  font-size: 1em;
  @include bp(narrow) {
    font-size: 1em;
  }
  @include bp(mid) {
    font-size: 1em;
  }
  @include bp(wide) {
    font-size: 1.125em;
  }
}

body.page_printable_table {
  display: block;
  page: unset;
}

a {
  color: currentColor;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

footer,
main,
.pre-footer {
  padding-top: 1rem;
}

main {
  padding-top: 2em;
  padding-bottom: 4em;
}

figcaption,
.caption {
  font-style: italic;
  font-size: 0.8em;
}

article figure {
  text-align: center;
  margin: 1em auto;
  width: 100%;
  max-width: 800px;

  img {
    display: inline;
    border: 1px solid var(--color-gray-300);
    padding: 0.3em;
  }
  p {
    margin: 0;
  }
}

nav.toc ol{
  margin: 0 0 0 0.5em;
  list-style-type: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  * {
    flex-basis: none;
  }
  @include bp(mid) {
    width: 90%;
  }
  @include bp(wide) {
    width: 90%;
  }
  @include bp(ultra) {
    width: 1200px;
  }
}

.story_content {
  max-width: 800px;
}

.story_audio {
  margin: 2em 0;
}

body.max_width {
  .container {
    width: 95%;
  }
}

.page_break_after {
  page-break-after: always;
}

.corner_banner {
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: 16px;
  position: fixed;
  top: 117px;
  left: -10px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
  width: 220px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
}

.only_print {
  display: none !important;
}

@media print {
  main {
    padding: 0;
    a[href*="//"]::after {
      content: " (" attr(href) ") ";
    }
  }
  .noprint {
    display: none !important;
  }
  .only_print {
    display: revert !important;
  }
  .container {
    width: 100%;
  }
}

/* https://css-tricks.com/hash-tag-links-padding/ */
.anchor_context::before {
  display: block; 
  content: " "; 
  margin-top: -15em; 
  height: 15em; 
  visibility: hidden; 
  pointer-events: none;
}

.split {
  width: 50%;
}

.responsive_split {
  width: 100%;
  @include bp(mid) {
    width: 50%;
  }
}

.align-right {
  text-align: right;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.align_end {
  align-items: flex-end;
}

.stack-reversed {
  flex-wrap: wrap-reverse;
}

.grow_1 {
  flex-grow: 1;
}

.hidden {
  display:none !important;
}

.float_right {
  float: right;
}

.justify_right {
  justify-content: right;
}

.nowrap {
  white-space: nowrap;
}

.sticky {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.split_right_container {
  margin-left: 1em;
}

.split_left_container {
  margin-right: 1em;
}

.inline_block {
  display: inline-block;
}

.collapse_top {
  margin-top: 0;
  padding-top: 0;
}

ul.no_bullets {
  list-style-type: none;
}

$ruler-thickness: 4px;
$ruler-color: var(--color-orange);
$ruler-arrow-width: 20px;
$ruler-arrow-height: 15px;
.ruler {
  background-color: $ruler-color;
  height: $ruler-thickness;
  margin-top: 1em;
  margin-bottom: 1em;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  border-left: $ruler-arrow-width solid var(--color-white);
  border-right: $ruler-arrow-width solid var(--color-white);
}

.ruler:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: calc(-#{$ruler-arrow-height} / 2 + #{$ruler-thickness} / 2);
  left: -$ruler-arrow-width;
  border-top: calc(#{$ruler-arrow-height} / 2) solid transparent;
  border-right: $ruler-arrow-width solid $ruler-color;
  border-bottom: calc(#{$ruler-arrow-height} / 2) solid transparent;
}

.ruler:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: calc(-#{$ruler-arrow-height} / 2 + #{$ruler-thickness} / 2);
  right: -$ruler-arrow-width;
  border-top: calc(#{$ruler-arrow-height} / 2) solid transparent;
  border-left: $ruler-arrow-width solid $ruler-color;
  border-bottom: calc(#{$ruler-arrow-height} / 2) solid transparent;
}

// https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
.visually_hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  .donate_wrapper {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.ruler div {
  position: absolute;
  top: .5em;
  width: 100%;
  text-align: center;
  color: $ruler-color;
  font-style: italic;
}

$scrollbar-thumb-color: var(--color-gray-600);
$scrollbar-track-color: var(--color-gray-800);
.visible-scrollbars::-webkit-scrollbar {
  width: 12px;
}
.visible-scrollbars::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
}
.visible-scrollbars::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
  border-left: 1px solid $scrollbar-thumb-color;
}

iframe.url_preview {
  width: 100%;
  height: 100vh;
  border: solid 2px var(--color-gray-600);
}

$default-margin: 0.4in;
$logo-height: 30px;
@page header {
  margin-top: calc($default-margin + $logo-height + 0.2in);
  @top-left{
    content: url("/images/ueo-logo.svg");
    margin-top: $default-margin;
  }
}

@page header:first {
  margin-top: $default-margin;
  @top-left {
    content: "";
    margin-top: 0;
  }
}

@media print {
  .responsive_split {
    width: 100%;
  }
}
