header {
  background-color: var(--color-white);
  padding-top: 0.5rem;
  .container {
    text-align: center;
    @include bp(midwide) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  .logo-home {
    width: 200px;
  }
  .nav-home img {
    margin: 0 auto 2em auto;
    @include bp(midwide) {
      margin: 0 1em 0 0;
    }
  }
  ul.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.8;
  }
  li {
    list-style: none;
    margin-right: 1rem;
  }
  nav {
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 700;

    a:link,
    a:visited {
      color: var(--color-black);
      text-decoration: none;
      white-space: nowrap;
    }
    a:hover,
    a:focus {
      color: var(--color-black);
      text-decoration: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 2px;
      text-decoration-color: var(--color-orange);
    }
    a.nav-donate:link,
    a.nav-donate:visited,
    a.nav-donate:hover,
    a.nav-donate:focus {
      color: var(--color-orange);
    }
  }

  .gtranslate_wrapper {
    text-align: right;
    font-size: 0.85rem;
    margin-bottom: 1rem;
    height: 1.275rem;
  }

  a.glink {
    padding: 0 0.5em;
  }
}

.page-resources .nav-resources,
body[class^="page-benefits-eligibility"] .nav-benefits-eligibility,
body[class^="page-public-assistance"] .nav-resources,
body[class^="page-resources"] .nav-resources,
body[class^="page-housing"] .nav-housing,
body[class^="page-about"] .nav-about,
body[class^="page-donate"] .nav-donate {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 2px;
  text-decoration-color: var(--color-orange);
}

@media print {
  header {
    .container {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .nav-home img {
      margin: 0;
      width: 100px;
    }
  }
}