  
  <a href="/" class="nav-home" title="Home">
    <img src="/images/ueo-logo.png" class="logo-home"  alt="">
  </a>
  <ul class="navigation">
    <li><a href="/resources" class="nav-resources">Resources</a></li>
    <li><a href="/assistance" class="nav-assistance">Guides and assistance</a></li>
    <li><a href="/clients" class="nav-clients">Clients</a></li>
    <li class="second-row"><a href="/mentors" class="nav-mentors">Mentors</a></li>
    <li class="second-row"><a href="/helping" class="nav-help">Ways to help</a></li>
    <li class="second-row"><a href="/about" class="nav-about">About us</a></li>
  </ul>

