  
  <a href="/" class="nav-home" title="Home">
    <img src="/images/ueo-logo.svg" width="200" height="61" class="logo-home" alt="The United Effort Organization logo">
  </a>
  <nav>
    <ul aria-label="Navigation Links" class="navigation">
      <li><a href="/housing/affordable-housing" class="nav-housing">Find Affordable Housing</a></li>
      <li><a href="/benefits-eligibility" class="nav-benefits-eligibility">Check Benefits Eligibility</a></li>
      <li class="second-row"><a href="/resources" class="nav-resources">Resources</a></li>
      <li class="second-row"><a href="/about-new" class="nav-about">About Us</a></li>
    </ul>
  </nav>

