// Breakpoints
$width-narrow: "550px";
$width-mid: "800px";
$width-midwide: "1050px";
$width-wide: "1266px";
$width-ultra: "1400px";
$bp-narrow: "(min-width: #{$width-narrow})";
$bp-mid: "(min-width: #{$width-mid})";
$bp-midwide: "(min-width: #{$width-midwide})";
$bp-wide: "(min-width: #{$width-wide})";
$bp-ultra: "(min-width: #{$width-ultra})";
$bp-max-narrow: "(max-width: #{$width-narrow})";
$bp-max-mid: "(max-width: #{$width-mid})";
$bp-max-midwide: "(max-width: #{$width-midwide})";
$bp-max-wide: "(max-width: #{$width-wide})";
$bp-max-ultra: "(max-width: #{$width-ultra})";

@mixin bp($point) {
  @if $point==narrow {
    @media #{$bp-narrow} {
      @content;
    }
  }
  @else if $point==mid {
    @media #{$bp-mid} {
      @content;
    }
  }
  @else if $point==midwide {
    @media #{$bp-midwide} {
      @content;
    }
  }
  @else if $point==wide {
    @media #{$bp-wide} {
      @content;
    }
  }
  @else if $point==ultra {
    @media #{$bp-ultra} {
      @content;
    }
  }
}

@mixin bp-max($point) {
  @if $point==narrow {
    @media #{$bp-max-narrow} {
      @content;
    }
  }
  @else if $point==mid {
    @media #{$bp-max-mid} {
      @content;
    }
  }
  @else if $point==midwide {
    @media #{$bp-max-midwide} {
      @content;
    }
  }
  @else if $point==wide {
    @media #{$bp-max-wide} {
      @content;
    }
  }
  @else if $point==ultra {
    @media #{$bp-max-ultra} {
      @content;
    }
  }
}

