table {
  font-size: 0.8em;
  border-spacing: 0;
  margin: 2em 0 2em;
}

th {
  font-weight: 600;
}

th,
td {
  padding: 0.2em 1em;
  border-bottom: solid 1px var(--color-gray-700);
}

th[scope=colgroup] {
  text-align: center;
}

table.deflist {
  font-size: 1em;
  width: 100%;
  table-layout: fixed;
  td {
    border: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0;
    vertical-align: top;
    width: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  td:first-child {
    font-weight: 600;
    word-wrap: normal;
    overflow-wrap: normal;
    width: 9em;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

table.sortable_active th:last-child {
  cursor: pointer;
}

table.sortable tr:last-child th::after {
  content: "\a0\2193";
  visibility: hidden;
}

table.sortable tr:last-child th.sorttable_sorted::after {
  content: "\a0\2193";
  visibility: visible;
}

table.sortable tr:last-child th.sorttable_sorted_reverse::after {
  content: "\a0\2191";
  visibility: visible;
}

#housing-changes table {
  font-size: 1em;
  margin: 0;
}

#affordable-housing-table-tracker th.apartment,
#affordable-housing-table-tracker td.apartment {
  min-width: 20em;
  max-width: 30em;
  word-break: break-word;
}

#affordable-housing-table-tracker th.received_by,
#affordable-housing-table-tracker td.received_by {
  min-width: 17em;
  max-width: 17em;
}

table.high-density {
  font-size: 14px;
  table-layout: fixed;
  width: 1200px;
}

table.high-density td,
table.high-density th {
  padding: 0.2em 0.3em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


table.printed {
  page-break-inside: auto;
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  thead tr:first-child {
    font-size: 1.3em;
    th {
      padding-left: 0;
      padding-bottom: 1em;
      border: none;
    }
  }
}

table.all_borders {
  border-collapse: collapse;
  th,
  td {
    border: solid 2px var(--color-gray-900);
  }
}

form#eligibility {
  table {
    font-size: 1em;
    max-width: 42em;
  }

  td, th {
    text-align: center;
    padding: 0.5em 0;
    width: 20%;
  }

  tr td:first-child,
  tr th:first-child {
    text-align: left;
    width: auto;
  }
}



@media print {
  table.printed {
    font-size: 10pt;
    th,
    td {
      border-color: var(--color-black);
      padding: 0.2em 0.5em;
    }
  }
}