  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--color-gray-200);
    font-family: var(--font-headline);
    font-weight: 850;
    line-height: 1.2;
    margin: 2em 0 0.5em 0;
    .subtitle {
      display: block;
      margin-top: 0.16em;
      margin-bottom: 1.5em;
      font-size: 0.52em;
    }
  }
  
  h1 {
    font-size: 2.5em;
    margin: 0.5em 0 0.5em;
    @include bp(wide) {
      max-width: 900px;
    }
  }
  
  h2 {
    font-size: 1.8em;
  }
  
  h3 {
    font-size: 1.3em;
  }
  
  main p,
  main ol,
  main ul {
    margin-top: 1em;
  }
  
  main ol,
  main ul {
    list-style-position: outside;
    padding-left: 1em;
    li {
      margin-bottom: 0.3em;
      ul,
      ol {
        margin-top: 0;
        margin-bottom: 0.6em;
        margin-left: 2em;
      }
    }
  }
  
  p {
    margin-bottom: 1em;
  }
  
  main,
  .pre-footer {
    a:link,
    a:visited,
    button.link {
      color: var(--color-blue-dark);
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 1px;
      text-decoration-color: var(--color-blue);
    }
    a:hover,
    a:focus,
    button.link:hover,
    button.link:focus {
      text-decoration: none;
    }
    /* 
    A button is not technically type, but we are styling
    it to look that way, so here it is in type.scss
    */
    button.link {
      cursor: pointer;
      background: none!important;
      border: none;
      padding: 0!important;
      font-family: var(--font-primary);
      font-size: inherit;
    }

    #welcome-name + button.link {
      font-size: smaller;
    }
  }
  
  address {
    font-style: normal;
  }
  
  .badge {
    color: var(--color-black);
    background-color: var(--color-gray-900);
    border-radius: 3px;
    padding: 0.2em 0.5em;
    margin: 0.3em 0.6em 0.3em 0;
    white-space: nowrap;
    font-size: 0.9em;
    @include bp(mid) {
      font-size: 0.8em;
    }
    @include bp(wide) {
      font-size: 0.7em;
    }
    display: inline-block;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  
  .badge__ok,
  .badge__highlight {
    border-left: 0.4em solid var(--color-green);
  }

  .badge__highlight {
    background-color: var(--color-green-light);
  }
  
  .badge__bad {
    border-left: 0.4em solid var(--color-red);
  }
  
  .badge__warn {
    border-left: 0.4em solid var(--color-orange);
  }

  .badge__done {
    border-left: 0.4em solid var(--color-blue-dark);
    margin-right: 0;
  }

  .badge__partial {
    border-left: 0.4em solid var(--color-blue);
    margin-right: 0;
  }

  .badge__remaining {
    border-left: 0.4em solid var(--color-gray-700);
    margin-right: 0;
  }

  .progress_bar {
    background-color: var(--color-gray-900);
    height: 1em;
  }

  .progress_bar.done {
    background-color: var(--color-blue-dark);
    display: inline-block;
  }

  .progress_bar.partial {
    background-color: var(--color-blue);
    display: inline-block;
  }

  .progress_bar.remaining {
    background-color: var(--color-gray-700);
    display: inline-block;
  }
  
  .marker::before {
    content: "";
    width: 1em;
    display: inline-block;
  }

  .marker__ok::before {
    content: "\2713";
    color: var(--color-green);
  }

  .marker__ng::before {
    content: "\2717";
    color: var(--color-red);
  }

  .marker__unk::before {
    content: "?";
    font-weight: 600;
    color: var(--color-gray-600);
  }
  
  .rent_tables {
    h2 {
      font-size: 1.3em;
    }
    h2 .badge {
      position: relative;
      margin-left: 0.7em;
      font-size: 0.8em;
      font-weight: lighter;
      top: -0.2em;
    }
  }

  .results_container {
    border-bottom: solid 1px var(--color-gray-700);
    margin-bottom: 2em;
    padding-bottom: 1.5em;
    padding-top: 3em;
    @include bp(mid) {
      padding-bottom: 3em;
    }
  }

  .results_list {
    font-size: 0.9em;
    list-style: none;
    margin-top: 0;
    padding: 0;
    @include bp(mid) {
      padding-bottom: 80vh;
    }
    li {
      margin-bottom: 2em;
      padding: 0.5em;
      break-inside: avoid;
    }
    @media screen {
      li.highlighted {
        border: 2px solid var(--color-gray-300);
        border-left-width: 6px;
        border-radius: 3px;
      }
    }
    li.no_results {
      font-size: 1em;
      font-weight: 600;
    }
  }

  .results_list.no_results {
    padding: 0;
  }

  .map_infowindow_content,
  .results_list {
    p {
      margin: 0;
      padding: 0;
    }
    p.contact {
      line-height: 1.8em;
    }
    h2 {
      display: inline-block;
      font-size: 1.3em;
      font-weight: 600;
      margin: 0 0 0.2em;
      padding: 0;
    }
  }

  .map_infowindow_content {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 13px;
    @include bp(narrow) {
      font-size: 14px;
    }

    h1 {
      font-size: 1.0em;
      margin-top: 0;
    }

    .badge {
      font-size: 0.8em;
    }

    .map_infowindow_footer {
      padding-top: 1.5em;
      font-size: 0.8em;
      display: block;
    }
  }

  .map_legend h3 {
    margin-top: 0;
    font-weight: 700;
  }

  table.printed p {
    margin: 0;
    padding: 0;
  }

  table.printed .checklist > p {
    padding: 0.1em;
  }

  .queue_status {
    width: 50%;
  }

  .programs > ul {
    list-style: none;
  }

  .programs > ul > li {
    margin-bottom: 2.5em;
    padding-left: 0.5em;
    border-left: 4px solid var(--color-gray-900);

    p {
      margin: 0;
    }
  }

  .programs__eligible > ul > li {
    border-color: var(--color-green);
  }

  .programs__ineligible > ul > li {
    border-color: var(--color-red);
  }
  
  .programs__unknown > ul > li {
    border-color: var(--color-gray-600);
  }

  .elig_conditions {
    list-style: none;
    padding: 0;
    margin: 0 0 1em 0;

    ul {
      list-style: none;
      margin-left: 0;
    }
  }

  p[data-toggletip] {
    font-size: 0.7em;
    margin-top: 0;
    font-style: italic;
  }

  .tooltip_entry {
    position: relative;
    display: inline-block;
    cursor: help;
  }

  .toggletip_entry {
    position: relative;
    display: inline-block;
  }

  .toggletip_container {
    position: absolute;
    width: 20em;
  }

  .toggletip_content,
  .tooltip_content {
    min-width: 10em;
    max-width: 20em;
    background-color: var(--color-gray-200);
    color: var(--color-white);
    text-align: center;
    padding: 0.3em 0.3em;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-white);
    position: absolute;
    z-index: 1;
    top: -0.3em;
    left: 0.3em;
  }

  /* Extra area to prevent the toggletip disappearing
  when the user mouses over to the text content from
  the toggle icon */
  .toggletip_content::before {
    content: "";
    width: 0.2em;
    height: 100%;
    left: -0.2em;
    top: 0;
    position: absolute;
  }
  
  .tooltip_entry .tooltip_content {
    visibility: hidden;
  }

  .tooltip_entry:hover .tooltip_content,
  .tooltip_entry:focus .tooltip_content {
    visibility: visible;
  }
  
  abbr {
    text-decoration: none;
    border-bottom: dotted 1px var(--color-gray-200);
    position: relative;
  }

  abbr[aria-label] {
    cursor: help;
  }

  abbr[aria-label]:hover::after,
  abbr[aria-label]:focus::after {
    background-color: var(--color-gray-200);
    color: var(--color-white);
    text-align: center;
    padding: 0.3em 0.3em;
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-white);
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    white-space: nowrap;
    /*https://stackoverflow.com/a/40896165*/
    -webkit-transform: translate3d(0,0,0);
    content: attr(aria-label);
  }

  
  form {
    .tooltip_content,
    .toggletip_content {
      font-size: 0.8em;
    }
  }

  
  .bold {
    font-weight: 700;
  }

  .italic {
    font-style: italic;
  }

  .subtitle {
    display: block;
    font-size: 0.8em;
    color: var(--color-gray-500);
    font-weight: 400;
  }

  code {
    background-color: var(--color-gray-900);
    border-radius: 3px;
    padding: 0.1em 0.4em;
    font-size: 0.8em;
  }

 .note {
    border: 2px solid var(--color-blue);
    background-color: var(--color-blue-light);
    border-radius: 6px;
    padding: 1em;

    &::before {
      content: "Note: ";
      font-weight: 600;
    }
  }

.print_checkbox {
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  border: solid 1px var(--color-black); 
  vertical-align: bottom; 
}

.date_placeholder {
  font-size: 1.2em;
  border-bottom: solid 1px var(--color-black);
  padding-left: 2em;
  padding-bottom: 0.3em;
}

.date_placeholder::after {
  content: "/";
}

.date_placeholder:last-child::after {
  content: "";
}

sup { 
  line-height: 100%;
  font-size: 0.7em;
}

address {
  p {
    line-height: 1.8em;
  }
}

.attribution {
  font-size: 0.7em;
  margin-top: 0.3em;
  text-align: right;
}

  
@media print {
  body {
    font-size: 12pt;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 1.5em 0 0.5em 0;
  }

  .results_list {
    font-size: 0.8em;
  }

  table.printed {
    font-size: 10pt;
  }
}
