:root {
  --color-white: #ffffff;
  --color-pink-light: #FF6969;
  --color-pink: #E8114E;
  --color-red: #bd052e;
  --color-red-dark: #930021;
  --color-red-dark-b: #75001a;
  --color-orange: #F86816;
  --color-orange-dark: #B74808;
  --color-blue-light: #d6e4e8;
  --color-blue: #43B4D8;
  --color-blue-dark: #146396;
  --color-blue-dark-b: #133857;
  --color-purple: #2f1d5a;
  --color-purple-light: #6f56a9;
  --color-purple-lighter: #d0c2f0;
  --color-purple-lightest: #f5f1ff;
  --color-violet: #C57AA2;
  --color-violet-dark: #7C0C64;
  --color-gold-light: #fffcf3;
  --color-gold: #F6BC00;
  --color-yellow: #FFAD43;
  --color-yellow-dark: #CC801F;
  --color-green: #95be40;
  --color-green-dark: #576f28;
  --color-green-light: #cfe79e;
  --color-black: #000000;
  --color-gray-100: #111;
  --color-gray-200: #222;
  --color-gray-300: #333;
  --color-gray-500: #666;
  --color-gray-600: #888;
  --color-gray-700: #ccc;
  --color-gray-800: #ddd;
  --color-gray-900: #eee;
  --airtable-color-yellowLight2: #fde9b7; 
  --airtable-color-orangeLight2: #fde2d7;
  --airtable-color-redLight2: #fddde6;
  --airtable-color-pinkLight2: #fadaf1;
  --airtable-color-purpleLight2: #ece2fb;
  --airtable-color-blueLight2: #d1defd;
  --airtable-color-cyanLight1: #77d1f3;
  --airtable-color-cyanLight2: #d0f1fb;
  --airtable-color-tealLight2: #c7f3e9;
  --airtable-color-greenLight2: #d2f6c7;
  --airtable-color-grayLight2: #eeeeee;
  /* Fonts */
  --font-headline: 'InterVar', sans-serif;
  --font-primary: 'InterVar', sans-serif;
  --font-secondary: 'InterVar', sans-serif;
  /* Form Step Indicator */
  --bar-top-width: 0.5em;
  --bar-left-width: 0.296em;
  --bar-left-width-hover-delta: 0.074em;
  --bar-top-width-hover-delta: 0.14em;
  --vert-indicator-left-margin: 2em;
  ;
  // /* Functional */
  // --border-radius: 6px;
  // --border-radius-large: 12px;
  // --color-focus-ring: var(--color-teal-T500);
  // --grid-gutter: 1.1rem;
  /* 40px / 16 */
  // --shadow-light: 0px 2px 4px rgba(14, 30, 37, 0.12);
  // --shadow-heavy: -10px 10px 80px rgba(0, 0, 0, 0.1);
  // --shadow-hover: 0 4px 12px rgba(0, 0, 0, .25);
  // --shadow-deep: 0px 16px 24px rgba(0, 0, 0, 0.07), 0px 6px 30px rgba(0, 0, 0, 0.06), 0px 8px 10px rgba(0, 0, 0, 0.1);
  // --ui-border: 1px solid var(--color-gray-L800);
}