[build]
commad = "npm run build"
publish = "dist"
fucntions = "netlify/functions"

[dev]
commad = "npm run dev"
publish = "dist"
fucntions = "netlify/functions"

[[redirects]]
from = "/housing/affordable-housing/filter"
to = "/.netlify/functions/serverless"
status = 200
force = true
_generated_by_eleventy_serverless = "serverless"

[[redirects]]
from = "/data/housing/affordable-housing/filter"
to = "/.netlify/functions/serverless"
status = 200
force = true
_generated_by_eleventy_serverless = "serverless"

[[redirects]]
from = "/housing/affordable-housing/:id"
to = "/.netlify/functions/units"
status = 200

[[redirects]]
from = "/data/housing/affordable-housing/:id"
to = "/.netlify/functions/units"
status = 200

[[redirects]]
from = "/contrib/affordable-housing/next-property/:campaign/:id"
to = "/.netlify/functions/next-property"
status = 200

[[redirects]]
from = "/contrib/affordable-housing/next-property/:campaign"
to = "/.netlify/functions/next-property"
status = 200

[[redirects]]
from = "/housing"
to = "/housing/affordable-housing"
status = 301
