[build]
command = "npm run build"
publish = "dist"
functions = "netlify/functions"

[dev]
command = "npm run dev"
publish = "dist"
functions = "netlify/functions"

[context.production]
command = 'sed -i "s|INJECTED_PASSWORD|${PRE_RELEASE_CONTENT_PASSWORD}|g" prod-headers && mkdir -p dist && cp prod-headers dist/_headers && npm run build'

[[headers]]
for = "/data/*"

  [headers.values]
  Content-Type = "application/json"

[[redirects]]
from = "/resources/shelter/table"
to = "/.netlify/functions/serverless"
status = 200
force = true
_generated_by_eleventy_serverless = "serverless"

[[redirects]]
from = "/resources/shelter/filter"
to = "/.netlify/functions/serverless"
status = 200
force = true
_generated_by_eleventy_serverless = "serverless"

[[redirects]]
from = "/contrib/affordable-housing/start"
to = "/.netlify/functions/serverless"
status = 200
force = true
_generated_by_eleventy_serverless = "serverless"

[[redirects]]
from = "/contrib/affordable-housing/start/index.html"
to = "/.netlify/functions/serverless"
status = 200
force = true
_generated_by_eleventy_serverless = "serverless"

[[redirects]]
from = "/find-resources/filter"
to = "/.netlify/functions/serverless"
status = 200
force = true
_generated_by_eleventy_serverless = "serverless"

[[redirects]]
from = "/housing/affordable-housing/tracker"
to = "/.netlify/functions/serverless"
status = 200
force = true
_generated_by_eleventy_serverless = "serverless"

[[redirects]]
from = "/housing/affordable-housing/table"
to = "/.netlify/functions/serverless"
status = 200
force = true
_generated_by_eleventy_serverless = "serverless"

[[redirects]]
from = "/housing/affordable-housing/filter"
to = "/.netlify/functions/serverless"
status = 200
force = true
_generated_by_eleventy_serverless = "serverless"

[[redirects]]
from = "/data/housing/affordable-housing/filter"
to = "/.netlify/functions/serverless"
status = 200
force = true
_generated_by_eleventy_serverless = "serverless"

[[redirects]]
from = "/contrib/affordable-housing/campaigns/*"
to = "/contrib/affordable-housing/changes"
status = 200
force = true

[[redirects]]
from = "/contrib/affordable-housing/next-property/:campaign/:id"
to = "/.netlify/functions/next-property"
status = 200

[[redirects]]
from = "/contrib/affordable-housing/next-property/:campaign"
to = "/.netlify/functions/next-property"
status = 200

[[redirects]]
from = "/ecfr/*"
to = "/.netlify/functions/ecfr"
status = 200

[[redirects]]
from = "/ical/*"
to = "/.netlify/functions/ical"
status = 200

[[redirects]]
from = "/tp"
to = "/.netlify/functions/translate-proxy"
status = 200

[[redirects]]
from = "/housing"
to = "/housing/affordable-housing"
status = 301

[[redirects]]
from = "/public-assistance"
to = "/resources"
status = 301

[[redirects]]
from = "/about/stories/ueo-helped-save-my-life/"
to = "/about/stories/the-united-effort-organization-helped-save-my-life/"
status = 301

[[redirects]]
from = "/about/stories/local-resident-protects-a-ueo-client-s-piano/"
to = "/about/stories/local-resident-protects-a-united-effort-client-s-piano/"
status = 301

[[redirects]]
from = "/about/stories/from-homeless-to-hope/"
to = "/about/stories/from-homeless-to-giving-hope/"
status = 301
