table {
  font-size: 0.8em;
  border-spacing: 0;
  margin: 2em 0 2em;
}

th {
  font-weight: 600;
}

th,
td {
  padding: 0.2em 1em;
  border-bottom: solid 1px var(--color-gray-900);
}

table.deflist {
  font-size: 1em;
  td {
    border: none;
    padding-left: 0;
  }
  td:first-child {
    font-weight: 600;
  }
}