<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title and title != '' %}{{title}} - {% endif %}The United Effort Organization</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="preload" href="/fonts/Inter-Variable-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  {{ pageHead }}
</head>
<body class="{{ pageClass }}">
  <header>
    <div class="container">
      {% include 'header' %}
    </div>
  </header>
  <main>
    {% if global.siteContext == "preview" %}
      <div class="corner_banner">Preview</div>
    {% endif %}
    <div class="container">
    {{ content }}
    </div>
  </main>
  <div class="pre-footer noprint" role="complementary">
    <div class="container">
      <h2>Contribute</h2>
      <p>
        {% render "donate-button" %}
      </p>
      <p>
        Donations by check should be made out to <span class="bold">The United Effort Organization, Inc.</span> and mailed to 340 E Middlefield Road, Mountain View, CA 94043.
      </p>
      <p>
        The United Effort Organization, Inc is a 501(c)(3) tax-exempt organization with federal tax ID number 85-2290026.
      </p> 
    </div>
  </div>
 <footer>
    <div class="container">
      {% include 'footer' %}
    </div>
 </footer>
</body>
</html>
