<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title and title != '' %}{{title}} - {% endif %}The United Effort Organization</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="preload" href="/fonts/Inter-Variable-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  {{ pageHead }}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y2D6F78X86"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y2D6F78X86');
</script>

<!--<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y2D6F78X86"></script>
<script>
  // https://helgeklein.com/blog/google-analytics-cookieless-tracking-without-gdpr-consent/
  const cyrb53 = function(str, seed = 0) {
     let h1 = 0xdeadbeef ^ seed,
        h2 = 0x41c6ce57 ^ seed;
     for (let i = 0, ch; i < str.length; i++) {
        ch = str.charCodeAt(i);
        h1 = Math.imul(h1 ^ ch, 2654435761);
        h2 = Math.imul(h2 ^ ch, 1597334677);
     }
     h1 = Math.imul(h1 ^ h1 >>> 16, 2246822507) ^ Math.imul(h2 ^ h2 >>> 13, 3266489909);
     h2 = Math.imul(h2 ^ h2 >>> 16, 2246822507) ^ Math.imul(h1 ^ h1 >>> 13, 3266489909);
     return 4294967296 * (2097151 & h2) + (h1 >>> 0);
  };
  let clientIP = 'unknown';
  console.log('fetching client ip');
  fetch("/.netlify/functions/get-client-ip")
    .then((response) => response.json())
    .then((data) => {
      console.log(data);
      clientIP = data.clientIp;
      let validityInterval = Math.round (new Date() / 1000 / 3600 / 24 / 4);
      let clientIDSource = clientIP + ";" + window.location.host + ";" + navigator.userAgent + ";" + navigator.language + ";" + validityInterval;
      console.log(clientIDSource);
      let clientIDHashed = cyrb53(clientIDSource).toString(16);
      console.log(clientIDHashed);

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
      });
      gtag('config', 'G-Y2D6F78X86', {
        'anonymize_ip' : true,
        'client_storage': 'none',
        'clientId': clientIDHashed
      });
    });
  console.log("finished gtag config");
</script>-->
<body class="{{ pageClass }}">
  <header>
    <div class="container">
      {% include 'header' %}
    </div>
  </header>
  <main>
    {% if global.siteContext == "preview" %}
      <div class="corner_banner">Preview</div>
    {% endif %}
    <div class="container">
    {{ content }}
    </div>
  </main>
  <div class="pre-footer noprint" role="complementary">
    <div class="container">
      <h2>Contribute</h2>
      <p>
        <a href="https://www.paypal.com/donate/?hosted_button_id=2GQ6FSYZX2TRY" class="btn btn_primary" rel="noopener">Donate Online</a>
      </p>
      <p>
        Donations by check should be made out to <span class="bold">The United Effort Organization, Inc.</span> and mailed to 340 E Middlefield Road, Mountain View, CA 94043.
      </p>
      <p>
        The United Effort Organization, Inc is a 501(c)(3) tax-exempt organization with federal tax ID number 85-2290026.
      </p> 
    </div>
  </div>
 <footer>
    <div class="container">
      {% include 'footer' %}
    </div>
 </footer>
</body>
</html>
