<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The United Effort Organization</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://kit.fontawesome.com/e2c09d12c3.js" crossorigin="anonymous"></script>
</head>
<body class="{{ pageClass }}">
  <header>
    <div class="container">
      {% include 'header' %}
    </div>
  </header>
  <main>
    <div class="container">
    {{ content }}
    </div>
  </main>
  <div class="pre-footer">
    <div class="container">
    <h2>Donate</h2>
    <p>
      Donations by check should be made out to<br/>
      "The United Effort Organization, Inc."
    </p>
    <p>
      Mail to:
    </p>
    <address>
      The United Effort Organization, Inc.<br/>
      340 E Middlefield Road<br/>
      Mountain View, CA 94043<br/>
    </address>
    </div>
  </div>
 <footer>
    <div class="container">
      {% include 'footer' %}
    </div>
 </footer>
</body>
</html>
