---
layout: layouts/base.liquid
title: Check for Affordable Housing Updates
permalink: 
  serverless: "/housing/affordable-housing/changes/:id"
---

{% assign allFields = "foo" | housingFields %}
{% assign housingFields = allFields.housingDatabase %}
{% assign unitsFields = allFields.units %}
{% assign record = eleventy.serverless.path.id | housingRecord %}
{% assign unitsRecords = eleventy.serverless.path.id | unitsRecords %}


<form style="display:block;" name="housing_changes" netlify>

{% fieldLabel "Property Name", housingFields, "APT_NAME" %}
{% formField housingFields, record, "APT_NAME" %}<br/>

{% fieldLabel "Address", housingFields, "ADDRESS" %}
{% formField housingFields, record, "ADDRESS" %}<br/>

{% fieldLabel "City", housingFields, "CITY" %}
{% formField housingFields, record, "CITY" %}<br/>

{% for unitNum in (0..4) %}
{% assign numUnitsRecords = unitsRecords | size %}
{% if unitNum < numUnitsRecords %}
  {% assign unitsRecord = unitsRecords[unitNum] %}
{% else %}
  {% assign unitsRecord = "" %}
{% endif %}
<div id="unit-{{unitNum}}">
<fieldset><legend>Unit Offering {{ unitNum | plus: 1 }}</legend>
{% indexFieldLabel unitNum, "Type", unitsFields, "TYPE" %}
{% indexFormField unitNum, unitsFields, unitsRecord, "TYPE" %}<br/>

{% indexFieldLabel unitNum, "Percent AMI", unitsFields, "PERCENT_AMI" %}
{% indexFormField unitNum, unitsFields, unitsRecord, "PERCENT_AMI" %}<br/>
</fieldset>
</div>
{% endfor %}

<button type="button">Add new unit offering</button>
<button type="submit">Submit</button>
</form>



