---
layout: "layouts/base.liquid"
title: "Thank You For Your Submission"
pageClass: ""
permalink: 
  serverless: /contrib/affordable-housing/thank-you/index.html
---

<h1>{{title}}</h1>

<p>
  Our affordable housing database can only stay up-to-date with the help of volunteers like you!
  Thank you for helping members of our community find affordable housing.
</p>

<a href="/contrib/affordable-housing/campaigns/{{eleventy.serverless.query.campaign | escape}}" class="btn btn_primary" id="back-link">Check Another Property</a>
<a href="/" class="btn btn_secondary">All Done For Now</a>