---
layout: "layouts/base.liquid"
title: "Thank You For Your Submission"
pageClass: ""
permalink: 
  build: /housing/affordable-housing/thank-you/index.html
  serverless: /housing/affordable-housing/changes/:campaign/thank-you/
---

<h1>{{title}}</h1>

<p>
  Our affordable housing database can only stay up-to-date with the help of volunteers like you!
  Thank you for helping members of our community find affordable housing.
</p>

<a href="/housing/affordable-housing/changes" class="btn btn_primary">Check Another Property</a>
<a href="/" class="btn btn_secondary">All Done For Now</a>