---
layout: "layouts/base.liquid"
title: "Client Stories"
pageClass: "page-about"
permalink: /client-stories/index.html
---

<h1>Client Stories</h1>

<ul>
{% for story in stories %}
  <li>
    <a href="/client-stories/{{story["Title"] | slugify}}">{{story["Title"]}}</a>
  </li>
{% endfor %}
</ul>
