---
layout: "layouts/base.liquid"
title: "Thank You For Your Feedback"
pageClass: "page-housing"
permalink: "/housing/affordable-housing/feedback-sent/index.html"
---

<h1>{{title}}</h1>

<p>
  We aim to have our affordable housing list be as accurate and up-to-date as possible.  Thank you for helping us find areas to improve!
</p>

<p>
  <a href="/housing/affordable-housing">&#8592; Back to the affordable housing search</a>
</p>
