---
layout: "layouts/base.liquid"
title: "Thank You For Contacting Us"
pageClass: ""
permalink: /message-sent/index.html
---

<h1>{{title}}</h1>

<p>
  We will get back to you as soon as we can.   
</p>

<p>
  <a href="/">&#8592; Back to the homepage</a>
</p>
