---
layout: "layouts/base.liquid"
title: "Thank You For Your Donation!"
pageClass: ""
permalink: /thank-you/index.html
---

<h1>{{title}}</h1>

<p>
  Thank you for supporting us.
</p>
<p>
  Your donation will help us provide effective case management services and tools to support our mission to help unhoused people move towards self-sufficiency and find a safe home in our community.
</p>
<p>
  <a href="/">Back to the homepage</a>
</p>