---
layout: "layouts/base.liquid"
title: "Thank You For Your Donation!"
pageClass: ""
permalink: /thank-you/index.html
---

<h1>{{title}}</h1>

<p>
  Thank you for supporting us and our mission.  Generous donations like yours allow us to continue helping members of our community find housing and support.
</p>
<p>
  Your donation will help cover our operating costs in addition to allowing us to provide household items to clients who have recently gotten housing.
</p>
<p>
  <a href="/">Back to the homepage</a>
</p>