---
layout: "layouts/base.liquid"
title: "Thank You For Your Donation!"
pageClass: ""
permalink: /thank-you/index.html
---

<h1>{{title}}</h1>

<p>
  Thank you for supporting us and our community.
</p>