---
layout: "layouts/base.liquid"
title: "Thank You For Your Feedback"
pageClass: "page-benefits-eligibility"
permalink: "/benefits-eligibility/feedback-sent/index.html"
---

<h1>{{title}}</h1>

<p>
  We aim to make our eligibility assessment tool as helpful and easy to use as possible.  Your feedback is critical to reaching these goals.  Thank you!
</p>

<p>
  <a href="/benefits-eligibility">&#8592; Back to the eligibility assessment tool</a>
</p>
