---
layout: "layouts/base.liquid"
title: "Eligibility Assessment Tool Feedback"
pageClass: "page-public-assistance"
permalink: "/public-assistance/eligibility/feedback/index.html"
---

<h1>{{title}}</h1>

<p>
  Is something not right? Could we improve our benefit eligibility assessment tool? Let us know here.
</p>

{% render "contact-form" name: "eligibility_feedback" action: "/public-assistance/eligibility/feedback-sent" %}

<p>
  If you prefer, you can also <a href="/contact">contact us</a> another way.
</p>
