---
layout: "layouts/base.liquid"
title: "Thank You For Your Submission"
pageClass: ""
permalink: /contrib/affordable-housing/thank-you/index.html
---

<h1>{{title}}</h1>

<p>
  Our affordable housing database can only stay up-to-date with the help of volunteers like you!
  Thank you for helping members of our community find affordable housing.
</p>

<a href="/contrib/affordable-housing/campaigns/audit-nov-2023-xaIEbSpSWNqXgL" class="btn btn_primary" id="back-link">Check Another Property</a>
<a href="/" class="btn btn_secondary">All Done For Now</a>

{% comment %}
Netlify Forms don't play nice with serverless form endpoints,
so this page must be statically generated.  Hence, this 
client-side JS to get the back link customized for each
campaign.
{% endcomment %}
<!-- <script>
function setBackLink() {
  params = new URLSearchParams(window.location.search);
  if (params.has("campaign")) {
    let backLink = document.getElementById("back-link");
    backLink.setAttribute(
      "href", backLink.getAttribute("href") + params.get("campaign"));
  }
}

setBackLink();
</script> -->