---
layout: "layouts/base.liquid"
title: "Example Protected Page"
pageClass: ""
permalink: /protected/example/index.html
---

<h1>{{ title | capitalize }}</h1>

<p>
  Password protected content.
</p>
