---
layout: "layouts/base.liquid"
title: "Benefits Eligibility Assessment Feedback"
pageClass: "page-benefits-eligibility"
permalink: "/benefits-eligibility/feedback/index.html"
---

<h1>{{title}}</h1>

<p>
  Is something not right? Could we improve our benefits eligibility assessment tool? Let us know here.
</p>

{% render "contact-form" name: "eligibility_feedback" action: "/benefits-eligibility/feedback-sent" %}

<p>
  If you prefer, you can also <a href="/contact">contact us</a> another way.
</p>
