---
layout: "layouts/base.liquid"
pagination:
  data: pages
  size: 1
  alias: thisPage
permalink: "{{ thisPage.url }}/index.html"
---


{% for section in thisPage.sections %}
  {% if forloop.first %}
  <h1>{{ section['Section title'] }}</h1> 
  {% else %}
  <h2>{{ section['Section title'] }}</h2>     
  {% endif %}
  <div>
    {{ section.Content | markdownify }}
  </div>
{% endfor %}

