---
layout: layouts/base.liquid
title: Home
---

<h1>Affordable Housing List</h1>
<ul>
  {% for address in housing %}
  <li>
    <a href="/affordable-housing/{{address.id}}">{{ address.apt_name }}</a>
  {% endfor %}
</ul>
