---
layout: layouts/base.liquid
title: Home
---

<h1>Affordable Housing List</h1>
<ul>
  {% for unit in housing %}
  <li><a href="/affordable-housing/{{unit.id}}">{{ unit.apt_name }}</a></li>
  {% endfor %}
</ul>
