---
layout: layouts/base.liquid
title: How to Find Affordable Housing Updates
permalink: "/contrib/affordable-housing/help/index.html"
pageClass: "smaller"
---

{% capture content %}

<h2 id="basics-of-affordable-housing">Basics of affordable housing</h2>
<p>
  <b>Affordable housing</b> (also known as <b>below market rate</b> or <b>BMR</b> housing) is housing that's typically subsidized by one or more external funding sources.  The external funding means a tenant's rent will be lower than the typical area rent levels (i.e. below market rate). Sometimes an entire property is devoted to affordable housing, and sometimes there are only a few BMR units within a market-rate apartment complex.
</p>

<h3 id="income-restrictions">Income restrictions</h3>
<p>
  Nearly all affordable housing is income-restricted.  This means that a household must earn less than a threshold value in order to be eligible to live there.  The threshold value typically depends on the applicant's household size&mdash;larger households can have more income and still be eligible.  The maximum income values (for all household sizes) are usually specified using a shorthand: percent of <b>area median income</b> or <b>AMI</b>.
</p>
<figure>
  <p>
    {% image images.example-hud-ami-table, "png" %}
  </p>
  <figcaption>Example maximum income table for "Low" (80% AMI), "Very Low" (50% AMI), and "Extremely Low" (30% AMI) income levels for Santa Clara county. (<a href="https://www.huduser.gov/portal/datasets/il/il2023/2023summary.odn?states=6.0&data=2023&inputname=METRO41940M41940*0608599999%2BSanta+Clara+County&stname=California&statefp=06&year=2023&selection_type=county" target="_blank">source</a>)</figcaption>
</figure>
<p>
  Unfortunately, there is no single standard for the AMI value for a county, and so maximum income values can vary between properties, even for the same nominal percent AMI.  Common sources for AMI values include the California Tax Credit Allocation Committee (<b>CTCAC</b> or <b>TCAC</b>), the California Department of Housing and Community Development (<b>HCD</b>) and the U.S. Department of Housing and Urban Development (<b>HUD</b>).
</p>
<p>
  In addition to a maximum allowed income, there is also often a <b>minimum income</b> threshold.  This is to ensure that applicants have the financial ability to pay rent.  Usually the minimum yearly income is specified as some multiple of the yearly rent (for example, 2.5 times yearly rent).
</p>

<h3 id="rent">Rent</h3>
<p>
  It is common for rent to change depending on the income bracket of the applicant.  For example, if the applicant has an income under the 30% AMI threshold, their rent will be lower than an applicant who has income under 50% AMI (but above 30% AMI).  Apartment units usually target certain % AMI income brackets.  Thus, a single unit may have multiple rent offerings, one for each income bracket targeted.
</p>

<h3 id="waitlist-status">Waitlist status</h3>
<p>
  Because there are far more low-income households than there are BMR units, there is often a <b>waitlist</b> for affordable housing.  The waitlist usually only opens for a short time.  At all other times, the property does not accept applications.  When apartments become available, the property will select from the waitlist.  Rarely, properties offer available units directly to applicants with no waitlist.
</p>

<h2 id="types-of-property-websites">Types of property websites</h2>
<p>
  For apartment complexes that cater entirely to low-income residents, all the relevant income restrictions, rents, and waitlist status can be found on the property's website.  It is easier to find values for our database on these types of websites.
</p>
<figure>
  <p>
    {% image images.example-full-bmr-website, "png" %}
  </p>
  <figcaption>Example website for a property offering exclusively below market rate apartments.  Info for our database is easier to find here. (<a href="https://altahousing.org/properties/tree-house-apartments/" target="_blank">source</a>)</figcaption>
</figure>
<p>
  In contrast, market-rate apartment complexes that contain a few BMR units typically do not advertise these BMR units on their property website.  Instead, when a BMR waitlist opens for a market-rate complex, the relevant income and rent information can be found on a separate affordable housing website.  It is hard to find values for our database for these types of properties unless a waitlist opening (also called an <b>opportunity drawing</b>) exists at that moment, in which case the supplemental affordable housing website for that property can be used.  An example of one of these supplemental websites is the <a href="https://www.housekeys13.com/rental-opportunities" target="_blank">Mountain View HouseKeys</a> website.
</p>
<figure>
  <p>
    {% image images.example-market-rate-website, "png" %}
  </p>
  <figcaption>Example website for a market-rate property with some BMR units within. Info for our database is often not listed here. (<a href="https://www.mvapartments.com/" target="_blank">source</a>)</figcaption>
</figure>

<h2 id="using-the-updates-tool">Using the updates tool</h2>
<p>
  Our affordable housing updates tool is used by volunteers like you to help us keep our database up-to-date.  This manual checking process supplements a separate automated system we use to scan for updates each day.  Properties that need a manual review are periodically grouped into a <b>campaign</b>.  Once onboarded, you will automatically get notified of any new campaigns we publish. Once all the properties in a given campaign have been checked, the campaign is finished!  Multiple volunteers working together helps the campaign finish faster.  And don't worry, nothing you do here will affect our live website&mdash;all submitted changes will need database admin approval before they become live!
</p>

<h3 id="setup">Setup</h3>
<ol>
  <li>
    <p>
      Begin by clicking the link sent to you when a new campaign was published.  The link will take you to the launch page for that particular campaign.
    </p>
  </li>
  <li>
    <p>
      Resize your browser window to fill the right half of your screen.  This will allow for simultaneous viewing of our database and a given property's website.  Use the orange ruler at the bottom of the screen to help you adjust the size correctly.
    </p>
  </li>
  <figure>
    <p>
      {% image images.launch-page-half-screen, "png" %}
    </p>
    <figcaption>Use the orange ruler at the bottom of the launch page to help you resize the browser window to fill the right half of your screen.</figcaption>
  </figure>
  <li>
    <p>
      Click on the start button to open a new window in the left half of your screen.  This is your main data entry interface.  <b>Be sure to enter your name in the top field</b> so that we know who to contact in case of questions.
    </p>
  </li>
  <figure>
    <p>
      {% image images.launch-page-with-changes-form, "png" %}
    </p>
    <figcaption>Once your browser window is sized correctly, click the start button to launch the data entry interface on the left.  Enter your name in the top field.</figcaption>
  </figure>
</ol>

<h3 id="checking-your-first-property">Checking your first property</h3>
<ol>
  <li>
    <p>
      Open the official property information for your assigned property by clicking on the link in Step 1 of the data entry form.  The information should appear on the right side of your screen. The left side of your screen contains the data we already have stored in our database for this property.
    </p>
  </li>
  <li>
    <p>
      Browse the official property website to find values for the database fields.  <b>All fields should be treated as optional.</b> You should make a best effort to find the data we are looking for, but <b>never make assumptions or enter data that is not supported by a property website</b>.
    </p>
    <p>
      If you are adding new units or rent offerings, do not worry about the order in which they appear.  There is no need to sort the list of units or offerings in order by unit size, AMI percentage, rent amount, etc.
    </p>
    <p class="note">
      Sometimes, we get specific information about a property via an email or phone call to that property.  Thus, if you see data in the database that you can't confirm to be correct or incorrect via their website, it's best to leave it as is.
    </p>
    <figure>
      <p>
        {% image images.rent-and-income-mapping, "png" %}
      </p>
      <figcaption>Find data in the property website on the right and use it to update the database fields on the left. This example shows how the data for a studio being offered at two income levels gets input into the form.</figcaption>
    </figure>
  </li>
  <li>
    Before submitting, you can optionally add some notes to the reviewers, such as "could not verify the rents already in the database" or "not sure if I selected the correct populations served", etc.
</ol>
<h3 id="video-tutorial">Video tutorial</h3>
<p>This video tutorial will walk you through an actual property update.  Each property is a bit different, but this should give you an overview of the process and highlight what to look out for.
</p>
<figure>
  <iframe width="840" height="473" src="https://www.youtube-nocookie.com/embed/K8M1xQUF51g?si=VMeNDfWTNaT54a2V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <figcaption>Watch along as we check Posolmi Place for updates</figcaption>
</figure>

<h3 id="tips">Tips</h3>

<h4 id="tips-waitlist-status">Waitlist status</h4>
<p>
  Some property managers do not list the open/closed waitlist status on individual property pages.  Instead, they have a single central location with the status of all their properties.  Sometimes it's under "portfolio" or "our properties" or "find a home." Be sure to poke around the website a bit to find this information if it's not prominently displayed on the individual property page, as this is perhaps the most important piece of information.
</p>
<figure>
  <p>
    {% image images.charities-housing-waitlist, "png" %}
  </p>
  <figcaption>Example of a website showing open-waitlist properties on a central overview page rather than denoting waitlist status within each individual property details page. (<a href="https://charitieshousing.org/find-a-home/" target="_blank">source</a>)</figcaption>
</figure>
<figure>
  <p>
    {% image images.first-community-waitlist, "png" %}
  </p>
  <figcaption>Another example of a website showing the waitlist status of all properties on a central overview page rather than denoting waitlist status within each individual property details page. (<a href="https://www.firstcommunityhousing.org/residencies" target="_blank">source</a>)</figcaption>
</figure>

<h4 id="income-and-rent-data">Income and rent data</h4>
<p>
  Sometimes, properties will not show detailed occupancy, income, and rent information on the main property page.  Instead, there will be a link to <b>tenant selection criteria</b>, a <b>property flyer</b>, a <b>move-in qualification sheet</b>, or similar.  Explore all the links on a property page to (hopefully) find the details you are looking for.
</p>
<figure>
  <p>
    {% image images.example-move-in-qualification, "png" %}
  </p>
  <figcaption>This property does not directly display rent and maximum income values but rather links to a document containing that information.  Be sure to click on links to find detailed information! (<a href="https://www.eahhousing.org/apartments/cochrane-village/" target="_blank">source</a>)</figcaption>
</figure>


<h4 id="populations-served">Populations served</h4>
<p>
  One of the fields, <b>populations served</b>, can be a bit confusing.  The purpose of this field is to help visitors to our website find properties that <i>specifically</i> cater to their own population segment.  There are specific categories such as <b>seniors</b> or <b>developmentally disabled</b> and then there is a catch-all default category called <b>general population</b>.  Most properties will be in the general population category (sometimes also called "family housing").
</p>
<figure>
  <p>
    {% image images.general-population-group, "png" %}
  </p>
  <figcaption>An example of a property website and the corresponding selections for the populations served field.  The property is listed as "family housing" which is equivalent to "general population" (<a href="https://jscosccha.com/property/poco-way-apartments/" target="_blank">source</a>)</figcaption>
</figure>
<p>
  If a property does cater to a specific population segment, it will say so on their website.  Sometimes, a property only allows that segment (a common example is seniors-only housing).  Select only that population segment in the data entry form.  Other times, a property sets aside some number of units for a certain segment while leaving the other units available to all (a common example is reserving some units for developmentally disabled tenants).  In this case, select both general population <i>and</i> developmentally disabled.
</p>
<figure>
  <p>
    {% image images.developmentally-disabled-group, "png" %}
  </p>
  <figcaption>An example of a property website and the corresponding selections for the populations served field.  The property is listed as "special needs" which is equivalent to serving only the "developmentally disabled." Note that "general population" is not selected, because the property only serves the developmentally disabled.(<a href="https://edenhousing.org/properties/edenvale/" target="_blank">source</a>)</figcaption>
</figure>
<figure>
  <p>
    {% image images.two-population-groups, "png" %}
  </p>
  <figcaption>An example of a property website and the corresponding selections for the populations served field.  The property notes it is for seniors but also reserves some units for the developmentally disabled, so both are selected in the data entry form. (<a href="https://www.firstcommunityhousing.org/japan-town-senior-apartments" target="_blank">source</a>)</figcaption>
</figure>

<h4 id="supplemental-websites">Supplemental websites</h4>
<p>
  Some properties have multiple websites associated with them in our database.  All associated websites are listed in the data entry fields, so be sure to explore those supplemental sites too when looking for information.
</p>

<h4 id="wheelchair-icon">Wheelchair Accessibility</h4>
<p>
  Many property websites and documents will include a wheelchair icon.  This does <b>not</b> necessarily mean there exist wheelchair accessible units in that complex.  Often, the icon is used in conjunction with the Equal Housing Opportunity logo to specify that the property does not discriminate on the basis of disability. Properties that offer wheelchair accessible units will often specifically state it using language like "ADA compliant" or "wheelchair accessible."
</p>

<h4 id="conflicting-information">Conflicting information</h4>
<p>
  It is common to find rent and income data in multiple places on a property website.  For example, there could be a maximum income table in the application PDF, the property flyer PDF, and on the webpage itself.  Sometimes, the values are not the same across those documents.  One trick for PDF documents is to look at the URL in the browser address bar to see the filename of the PDF.  Many times, the date it was updated will appear in the filename.  Other times, the revision date will be in the footer of the PDF.  Use the most recent data you can find.
</p>

<h4 id="no-data-available">No data available</h4>
<p>
  The reality is, some property websites simply do not give the information we are looking for.  This is quite common and is not something to worry about.  Just do the best you can!
</p>
{% endcapture %}

<h1>{{title}}</h1>
<aside>
  {{content | toc }}
</aside>
<article>
  {{content}}
</article>