@import '_includes/variables.scss';
@import '_includes/mixins.scss';
@import '_includes/fonts.scss';
@import '_includes/global.scss';
@import '_includes/type.scss';
@import '_includes/header.scss';
@import '_includes/footer.scss';
@import '_includes/cards.scss';
@import '_includes/tables.scss';
@import '_includes/forms.scss';